:root {
    --color1 : #06141b;
    --color2 : #11212d;
    --color3 : #253745;
    --color4 : #4a5c6a;
    --color5 : #9ba8ab;
    --color6 : #ccd0cf;

}

/* .navbar {
    background:var(--color2) ;
    width:100%;
}
.navbar-div {
    display: flex;
    justify-content: space-between;
}
#navbarSupportedContent {
    flex-grow: 0;
} */
.header-nav-div div {
    background: var(--color2);
    padding: 3px;
    height: 50px;
}

.header-nav-div div ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header-nav-div div ul li {
    background: var(--color3);
    padding: 5px;
    border-radius: 5px;
}

.header-nav-div div ul li a {
    color: var(--color5);
    text-decoration: none;
}
.header-nav-div div ul li :hover {
    color:var(--color6);
    transform: scale(0.9);
    transition: all;
}